$branco: #e3e3e3;
$verde-limao: #a8d508;
$fundo-verde: #00984a;
$verde-escuro: #004b35;
$amarelo: #fdc100;
$shadown: -65px 47px 111px 30px rgba(0,0,0,0.3);
$shadown-sobreposto: -65px 47px 111px 30px rgba(0,0,0,0.1);

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "fontawesome/font-awesome";

//custom css
@import "fonts";
@import "menu";
@import "home";
@import "perguntas";
@import "resultado";
@import "rodape";


body, html{
  font-family: "Titillium Web", Tahoma, Arial, sans-serif !important;
  //font-family: DINAlternate !important;
  margin:0;
  height: 100%;
}
