section#home{
  background: #097f4e; /* Old browsers */
  background: -moz-linear-gradient(45deg, #097f4e 0%, #00bc6a 10%, #00bc6a 20%, #00bc6a 20%, #005a34 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #097f4e 0%,#00bc6a 10%,#00bc6a 20%,#00bc6a 20%,#005a34 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #097f4e 0%,#00bc6a 10%,#00bc6a 20%,#00bc6a 20%,#005a34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097f4e', endColorstr='#005a34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 100%;
  padding-top:60px;

  .box-perguntas-sombra{
    width: 450px;
    height: 450px;
    background-color: #00a32a;
    border-radius: 35px;
    position: relative;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);

    .box-perguntas{
      background: #016d21;
      background: linear-gradient(45deg, #016d21 0%, #00a330 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016d21', endColorstr='#00a330',GradientType=1 );
      width: 448px;
      height: 448px;
      border-radius: 35px;
      position: absolute;
      top: 4px;
      right: 4px;
      .texto-do-quadrado{
        font-weight: 600;
        padding: 50px;
        span{
          color: $branco;
          &.verde{
            color: $verde-limao;
          }
          &.bem-vindo{
            font-size: 50px;
          }
          &.alugue{
            font-size: 70px;
          }
        }
      }
    }
  }
}
