section#home{
  background: #097f4e; /* Old browsers */
  background: -moz-linear-gradient(45deg, #097f4e 0%, #00bc6a 10%, #00bc6a 20%, #00bc6a 20%, #005a34 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #097f4e 0%,#00bc6a 10%,#00bc6a 20%,#00bc6a 20%,#005a34 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #097f4e 0%,#00bc6a 10%,#00bc6a 20%,#00bc6a 20%,#005a34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097f4e', endColorstr='#005a34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 800px;
}
