section#menu{
  font-size: 18px;
  position: fixed;
  left: 0px;
  right: 0px;
  width: 70%;
  margin: 0 auto;
  background: $fundo-verde;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.70);
  @media (max-width: 992px) {
    width: 90%;
  }
  a{
    display: inline-block;
    padding: 20px 20px 14px;
    position: relative;
    width: 227px;
    img{
      position: absolute;
      top: 15px;
    }
  }
  .texto-menu{
    display: inline-block;
    border-left: 2px solid $branco;
    padding: 5px 20px;
    font-size: 18px;
    span{
      color: $branco;
      &.verde-claro{
        color: $verde-limao;
      }
    }
  }
  .texto-menu-inicio{
    color: $branco;
    display: inline-block;
    float: right;
    font-size: 18px;
    padding: 15px 20px;
  }

  @media (max-width: 320px) {
    position: absolute;
    font-size: 10px;
    a{
      padding: 15px 5px;
      width: 130px;
      img{
        width: 120px;
        position: initial;
      }
    }
    .texto-menu{
      padding: 5px 3px;
      font-size: 10px;
    }
    .texto-menu-inicio{
      font-size: 10px;
      padding: 0px;
      padding-right: 6px;
      margin-top: 15px;
    }
  }

  @media (min-width: 321px) and (max-width: 768px) {
    position: absolute;
    font-size: 10px;
    a{
      padding: 15px 5px;
      width: 130px;
      img{
        width: 120px;
        position: initial;
      }
    }
    .texto-menu{
      padding: 5px 7px 5px 5px;
      font-size: 10px;
    }
    .texto-menu-inicio{
      font-size: 10px;
      padding: 5px;
      padding-right: 10px;
      margin-top: 11px;
    }
  }
}
