section#menu{
  font-size: 18px;
  position: fixed;
  left: 0px;
  right: 0px;
  width: 70%;
  margin: 0 auto;
  background: $fundo-verde;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.70);
  @media (max-width: 992px) {
    width: 90%;
  }
  a{
    display: inline-block;
    padding: 20px 20px 14px;
    position: relative;
    width: 227px;
    img{
      position: absolute;
      top: 15px;
    }
  }
  .texto-menu{
    display: inline-block;
    border-left: 2px solid $branco;
    padding: 5px 20px;
    font-size: 18px;
    span{
      color: $branco;
      &.verde-claro{
        color: $verde-limao;
      }
    }
  }
  .texto-menu-inicio{
    color: $branco;
    display: inline-block;
    float: right;
    font-size: 18px;
    padding: 15px 20px;
  }
  @media (max-width: 768px) {
    position: absolute;
    a{
      width: 100%;
      img{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    .texto-menu{
      border: none;
    }
    .texto-menu-inicio{
      padding: 5px 15px;
    }
  }
}
