section#menu{
  position: fixed;
  left: 0px;
  right: 0px;
  width: 70%;
  margin: 0 auto;
  background: #009841;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.70);
  a{
    display: inline-block;
    padding: 20px 20px 14px;
  }
  .texto-menu{
    display: inline-block;
    border-left: 1px solid white;
    padding: 5px 20px;
    font-size: 18px;
    span{
      color: white;
      &.verde-claro{
        color: #a8d40b;
      }
    }
  }
  .texto-menu-inicio{
    color: white;
    display: inline-block;
    float: right;
    font-size: 18px;
    padding: 15px 20px;
  }
}
