section#perguntas{
  background-image: $img-background;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  .box-branco{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: $branco;
    position: absolute;
    top: 134px;
    left: 230px;
    -webkit-box-shadow: $shadown-sobreposto;
    -moz-box-shadow: $shadown-sobreposto;
    box-shadow: $shadown-sobreposto;
    &.pequeno{
      top: 600px;
      left: -40px;
      z-index: 1;
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
  }
  .box-perguntas-sombra{
    background-color: $verde-claro;
    border-radius: 35px;
    position: absolute;
    -webkit-box-shadow: $shadown;
    -moz-box-shadow: $shadown;
    box-shadow: $shadown;
    display: initial;
    &.grande{
      height: 400px;
      width: 400px;
      left: 300px;
      top: 110px;
    }
    &.medio{
      height: 250px;
      width: 250px;
      right: 40px;
      top: 170px;
    }
    &.pequeno{
      width: 140px;
      height: 140px;
      border-radius: 15px;
      position: absolute;
      left: -50px;
      top: 485px;
    }
    &.box2{
      height: 340px;
      left: 594px;
      top: 287px;
    }
    .box-perguntas{
      background: $verde-escuro;
      background: $gradiente-verde;
      filter: $gradient-filter;
      border-radius: 35px;
      position: absolute;
      top: 4px;
      right: 4px;
      &.grande{
        width: 398px;
        height: 398px;
        &.box2{
          height: 340px;
          .texto-do-quadrado{
            padding: 40px 30px;
          }
        }
      }
      &.medio{
        width: 248px;
        height: 248px;
      }
      &.pequeno{
        border-radius: 20px;
        width: 138px;
        height: 138px;
      }
      .texto-do-quadrado{
        font-weight: 600;
        padding: 25px 30px;
        .frase{
          display: block;
          margin-bottom: 15px;
          position: relative;
          z-index: 2;
        }
        span{
          color: $branco;
          text-shadow: $text-shadown;
          &.verde{
            color: $verde-limao;
          }
          &.questao{
            font-size: 24px;
            line-height: 24px;
          }
          &.pergunta-1{
            font-size: 44px;
            line-height: 44px;
            font-weight: bold;
          }
          &.pergunta-2{
            font-size: 40px;
            line-height: 40px;
          }
          &.alugue{
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
    .box-botao-sombra{
      background-color: $botao-verde-limao;
      display: inline;
      border-radius: 10px;
      position: absolute;
      height: 100px;
      width: 250px;
      left: 450px;
      top: 600px;
      z-index: 2;
      &.pergunta{
        position: relative;
        margin-top: 30px;
        display: block;
        height: 62px;
        width: 100%;
        left: 0px;
        top: 0px;
        box-shadow: none;
        &.first{
          margin-top: 50px;
        }
      }
      -webkit-box-shadow: $shadown;
      -moz-box-shadow: $shadown;
      box-shadow: $shadown;
      .check{
        background-color: $branco;
        border-radius: 10px;
        position: absolute;
        height: 64px;
        width: 64px;
        right: 0px;
        padding: 12px;
        -webkit-box-shadow: $shadown-check;
        -moz-box-shadow: $shadown-check;
        box-shadow: $shadown-check;
        i{
          color: $verde-limao;
          font-size: 40px;
        }
      }
      .box-botao{
        width: 248px;
        height: 98px;
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 10px;
        background-color: $verde-limao;
        font-size: 30px;
        color: $verde-escuro;
        padding: 24px 17px;
        font-weight: 600;
        &.pergunta{
          height: 62px;
          width: 100%;
          top: 2px;
          right: 2px;
          font-size: 20px;
          line-height: 20px;
          text-align: right;
          padding: 5px 10px;
          &.alexandre{
            font-size: 20px;
            line-height: 20px;
            padding: 8px 10px;
          }
          &.jose{
            font-size: 15px;
            line-height: 15px;
            padding: 8px 10px;
          }
          &.linha-unica{
            padding: 17px 10px;
          }
          span{
            display: block;
            color: $verde-escuro;
            text-shadow: none;
            margin-right: 65px;
          }
        }
        img{
          float: right;
          position: absolute;
          height: 62px;
          top: 15px;
          right: 15px;
        }
      }
    }
  }
  .foto{
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 54px;
  }
}

@media (max-width: 768px) {
  section#perguntas{
    .box-branco{
      top: 106px;
      left: -16px;
      height: 50px;
      width: 50px;
      &.pequeno{
        top: 490px;
        left: -37px;
        height: 30px;
        width: 30px;
        border-radius: 6px;
        z-index: 1;
      }
    }
    .foto{
      bottom: 112px;
      &.alexandre{
        bottom: 115px;
      }
      &.jose{
        bottom: 117px;
      }
      img{
        width: 200px;
      }
    }
    .box-perguntas-sombra{
      border-radius: 25px;
      padding: 20px;
      &.grande{
        height: 200px;
        width: 200px;
        left: 84px;
        top: 60px;
        &.box2{
          height: 210px;
          width: 220px;
          top: 210px;
          left: 30px;
        }
      }
      &.medio{
        width: 70px;
        height: 70px;
        top: 290px;
        right: 0px;
        border-radius: 10px;
      }
      &.pequeno{
        width: 70px;
        height: 70px;
        top: 438px;
        left: -16px;
        border-radius: 10px;
      }
      .box-perguntas{
        border-radius: 25px;
        right: 2px;
        top: 2px;
        &.grande{
          width: 198px;
          height: 198px;
          &.box2{
            width: 218px;
            height: 208px;
            .texto-do-quadrado{
              padding: 15px 10px;
            }
          }
        }
        &.medio{
          width: 68px;
          height: 68px;
          border-radius: 10px;
        }
        &.pequeno{
          width: 68px;
          height: 68px;
          border-radius: 10px;
        }
        .texto-do-quadrado{
          padding: 20px;
          span{
            &.questao{
              font-size: 15px;
              line-height: 15px;
            }
            &.pergunta-1{
              font-size: 24px;
              line-height: 24px;
              &.jose{
                font-size: 20px;
                line-height: 20px;
              }
            }
            &.pergunta-2{
              font-size: 18px;
              line-height: 18px;
            }
            &.alugue{
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
      }
      .box-botao-sombra{
        .frase{
          margin-bottom: 0px;
        }
        &.pergunta{
          height: 48px;
          margin-top: 9px;
          &.first{
            margin-top: 0px;
          }
        }
        .box-botao{
          &.pergunta{
            height: 46px;
            font-size: 11px;
            line-height: 11px;
            padding: 10px 0px;
            &.jose{
              font-size: 10px;
              line-height: 10px;
              padding: 7px 0px;
            }
            &.alexandre{
              font-size: 10px;
              line-height: 10px;
              padding: 11px 8px;
            }
            span{
              margin-right: 49px;
            }
          }
        }
        .check{
          padding: 10px;
          height: 48px;
          width: 48px;
          i{
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section#perguntas{
    .box-branco{
      top: 60px;
      left: 43px;
      &.pequeno{
        top: 616px;
        left: -16px;
        height: 50px;
        width: 50px;
      }
    }
    .box-perguntas-sombra{
      &.grande{
        left: 90px;
        width: 270px;
        height: 270px;
        &.box2{
          width: 270px;
          height: 270px;
          top: 278px;
          left: 200px;
        }
      }
      &.medio{
        width: 200px;
        height: 200px;
        top: 280px;
        right: 10px;
      }
      &.pequeno{
        top: 520px;
        left: 10px;
        width: 120px;
        height: 120px;
      }
      .box-perguntas{
        &.grande{
          width: 268px;
          height: 268px;
          &.box2{
            width: 268px;
            height: 268px;
            .texto-do-quadrado{
              padding: 30px 30px;
            }
          }
        }
        &.medio{
          width: 198px;
          height: 198px;
        }
        &.pequeno{
          width: 118px;
          height: 118px;
        }
        .texto-do-quadrado{
          span{
            &.questao{
              font-size: 15px;
              line-height: 15px;
            }
            &.pergunta-1{
              font-size: 36px;
              line-height: 36px;
              &.jose{
                font-size: 26px;
                line-height: 26px;
              }
            }
            &.pergunta-2{
              font-size: 28px;
              line-height: 28px;
            }
            &.alugue{
              font-size: 22px;
              line-height: 22px;
            }
          }
        }
      }
      .box-botao-sombra{
        &.pergunta{
          height: 48px;
          &.first.alexandre{
            margin-top: 20px;
          }
          &.first.jose{
            margin-top: 20px;
          }
        }
        .box-botao{
          &.pergunta{
            height: 46px;
            font-size: 11px;
            line-height: 11px;
            padding: 10px 10px;
            &.alexandre{
              font-size: 10px;
              line-height: 10px;
              padding: 11px 10px;
            }
            &.jose{
              font-size: 10px;
               line-height: 10px;
               padding: 6px 0px;
            }
          }
        }
        .check{
          padding: 10px;
          height: 48px;
          width: 48px;
          i{
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  section#perguntas{
    .box-branco{
      left: -18px;
      &.pequeno{
        top: 664px;
        left: -25px;
        width: 35px;
        height: 35px;
      }
    }
    .box-perguntas-sombra{
      &.grande{
        left: 20px;
      }
      &.pequeno{
        left: -29px;
        top: 585px;
        width: 100px;
        height: 100px;
      }
      &.box2{
        left: 210px;
        top: 312px;
      }
      .box-perguntas{
        &.pequeno{
          width: 98px;
          height: 98px;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  section#perguntas{
    .box-branco{
      left: 60px;
    }
    .box-perguntas-sombra{
      &.grande{
        left: 125px;
      }
      &.box2{
        left: 423px;
      }
      .box-perguntas{
        .texto-do-quadrado{
          .box-botao-sombra{
            .box-botao{
              &.pergunta{
                font-size: 19px;
                line-height: 19px;
                &.jose{
                  font-size: 15px;
                  line-height: 15px;
                  padding: 7px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
