section#rodape{
  position: fixed;
  bottom: 0px;
  background-color: $verde-escuro;
  width: 100%;
  border-top: 5px solid $branco;
  .foto{
    position: absolute;
    right: 0;
    z-index: 1;
    &.tamiris{
      top: -633px;
    }
    &.jose{
      top: -452px;
      img{
        width: 555px;
      }
    }
    &.alexandre{
      top: -421px;
      img{
        width: 440px;
      }
    }
    &.solange{
      top: -698px;
    }
  }
  .area-util{
    width: 90%;
    margin: 7px auto;
    @media (min-width: 768px) and (max-width: 992px) {
      width: 100%;
    }
    .logo{
      display: inline-block;
      position: relative;
      width: 240px;
      height: 60px;
      img{
        position: absolute;
        top: 17px;
      }
    }
    .dados{
      display: inline-block;
      font-size: 12px;
      color: $branco;
      span{
        display: block;
      }
    }
  }
  @media (min-width: 420px) and (max-width: 768px) {
    // position: relative;
    .area-util{
      width: 95%;
      margin: 0px auto;
    }
  }

  @media (max-width: 420px) {
    position: absolute;
    top: 540px;
    min-height: 115px;
    .foto{
      &.tamiris{
        top: -236px;
        img{
          width: 188px;
        }
      }
      &.jose{
        top: -167px;
        img{
          width: 200px;
        }
      }
      &.alexandre{
        top: -194px;
        img{
          width: 200px;
        }
      }
      &.solange{
        top: -283px;
        img{
          width: 230px;
        }
      }
    }
    .area-util{
      width: 95%;
      margin: 0px auto;
      .logo{
        height: 43px;
        img{
          position: absolute;
          top: 13px;
          width: 120px;
        }
      }
      .dados{
        font-size: 8px;
      }
    }
  }

  @media (min-width: 420px) and (max-width: 992px) {
    .foto{
      &.tamiris{
        top: -252px;
        img{
          width: 200px;
        }
      }
      &.jose{
        top: -288px;
        img{
          width: 350px;
        }
      }
      &.alexandre{
        top: -194px;
        img{
          width: 200px;
        }
      }
      &.solange{
        top: -247px;
        img{
          width: 200px;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .foto{
      &.solange{
        top: -513px;
        img{
          width: 420px;
        }
      }
    }
  }
}
